html,body{
scrollbar-face-color:#EAB412;
scrollbar-shadow-color:#EAB412;
scrollbar-highlight-color:#EAB412;
scrollbar-3dlight-color:#EAB412;
scrollbar-darkshadow-color:#EAB412;
scrollbar-track-color:#EAE11B;
scrollbar-arrow-color:#FFFFFF;
scrollbar-base-color:#EAE11B;
}
td{
font-family:Arial, sans-serif;
font-size:8pt;
color:#000000;
}
.mnbdy{
background-color:#EAE11B;
overflow:auto;
padding:2px;margin:0px;
}
.fmbdy{
background-color:#EAB412;
padding:2px;margin:0px;
}
A:link{
text-decoration:none;
color:#903612;
}
A:visited{
text-decoration:none;
color:#903612;
}
A:active{
text-decoration:underline;
color:#000000;
}
A:hover{
text-decoration:underline;
color:#000000;
}
.hbtbl{
table-layout:fixed;
word-wrap:break-word;
overflow:hidden;
}
.stxt{
background-color:#EAE11B;
color:#000000;
}
.stxt2{
background-color:#EAB412;
color:#000000;
}
.dtxt{
color:#5A1B12;
font-size:7pt;
text-align:right;
}
.dtxt2{
color:#5A1B12;
font-size:7pt;
text-align:right;
}
.cfrm{
margin-bottom:0px;
}
.frmtb{
padding-left:3px;
padding-right:3px;
font-family:Arial, sans-serif;
font-size:8pt;
background-color:#EAE11B;
border:#903612 1px solid;
color:#5A1B12;
margin: 1px 2px 1px 2px;
}
.frmbtn{
font-family:Arial, sans-serif;
font-size:8pt;
background-color:#903612;
border:#903612 1px solid;
color:#FFFFFF;
font-weight:bold;
padding-left:3px;
padding-right:3px;
vertical-align:top;
margin: 1px 2px 1px 2px;
}
.lnk{
color:#903612;
}
.pic{
width:45px;
height:45px;
margin-left:-2px;
margin-right:0px;
padding-right:2px;
float:left;
}
